input[type='checkbox'].toggle {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  top: -9000px;
  left: -9000px;
}
input[type='checkbox'].toggle + label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type='checkbox'].toggle + label::before {
  content: '';
  width: 2em;
  height: 1em;
  background-color: hsl(0, 80%, 90%);
  border-radius: 1em;
  margin-right: 0.25em;
  transition: background-color 200ms ease-in-out;
}

input[type='checkbox'].toggle + label::after {
  position: absolute;
  left: 0.1em;
  content: '';
  width: 0.9em;
  height: 0.9em;
  background-color: hsl(0, 80%, 60%);
  border-radius: 1em;
  transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}

input[type='checkbox'].toggle:focus + label::before {
  outline: 1px solid #000;
}

input[type='checkbox'].toggle:checked + label::before {
  background-color: hsl(100, 70%, 90%);
}

input[type='checkbox'].toggle:checked + label::after {
  transform: translateX(100%);
  background-color: hsl(100, 70%, 60%);
}
